<section id="programming">
  
  <div id="personal">
    <div class="cols">
      <a class="workingwithrails" href="http://workingwithrails.com/recommendation/new/person/704818-leandro-souza-nunes">
        <img alt="Recommend Me" src="{{ root_url }}/images/avatar.jpg" />
      </a>
    </div>
    <div class="cols">
      <em>
        Leandro Nunes<br />
        Web Developer<br />
        Serra - ES
      </em>
      <a href="http://workingwithrails.com/recommendation/new/person/704818-leandro-souza-nunes">
        <img alt="Recommend Me" src="http://workingwithrails.com/images/tools/compact-small.jpg" />
      </a>
    </div>
  </div>
  
  <div id="specialties">
    <a href="http://www.ruby-lang.org/" title="Ruby"><img src="{{ root_url }}/images/ruby.png" alt="Ruby" /></a>  
    <a href="http://php.net/" title="PHP"><img src="{{ root_url }}/images/php.png" alt="PHP" /></a> 
    <a href="http://www.w3schools.com/js/default.asp" title="Javascript"><img src="{{ root_url }}/images/javascript.png" alt="Javascript" /></a>
    <a href="http://www.jquery.com" title="jQuery"><img src="{{ root_url }}/images/jquery.png" alt="jQuery" /></a> 
    <a href="http://www.oracle.com/technetwork/java/index.html" title="Java"><img src="{{ root_url }}/images/java.png" alt="Java" /></a>
    <a href="http://rubyonrails.org/" title="RubyOnRails"><img src="{{ root_url }}/images/rails.png" alt="RubyOnRails" /></a>    
    <a href="http://www.w3.org/TR/#tr_CSS" title="CSS3"><img src="{{ root_url }}/images/css.png" alt="CSS3" /></a>
    <a href="http://www.html5rocks.com/en/" title="HTML5"><img src="{{ root_url }}/images/html.png" alt="HTML5" /></a>
    <a href="http://www.debian.org" title="Debian"><img src="{{ root_url }}/images/debian.png" alt="Debian" /></a>
  </div>
  
  
</section>  
  
